<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Color</title>
</head>
<body>
<nav>
    <ul>
        <li>
            <a href="{{url_for('show_color',color='blue')}}">blue</a>
        </li>
        <li>
            <a href="{{url_for('show_color',color='red')}}">red</a>
        </li>
        <li>
            <a href="{{url_for('show_color',color='green')}}">green</a>
        </li>
        <li>
            <a href="{{url_for('show_color',color='yellow')}}">yellow</a>
        </li>
    </ul>
</nav>
</body>
</html>