body {
    margin: 0;
    padding: 0;
}

.masthead {
    background-image: linear-gradient(to bottom, rgb(0, 0, 12), rgb(22, 8, 116));
    background-size: cover;
    height: 100vh;
}

.header-laptop {
    position: relative;
}

.header-laptop>img {
    height: 30vh;
    margin-top: 30vh;
}

.header-laptop>div {
    background-color: white;
    color: black;
    font-size: x-small;
    position: absolute;
    top: 30vh;
    /*left: 30vh;*/
}