<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>DI Platform</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
<div class="container">
      {{ content }}
</div>
<div class="navigation">
    <div class="navigation-intro">
        <h3>Navigation</h3>
    </div>
        <ul class="navigation-items">
            <a href="lesson"><li class="item">Lesson</li></a>
            <a href="exercises"><li class="item">Exercises</li></a>
        </ul>
</div>
<script src="/static/js/script.js"></script>
</body>
</html>