.container{
    display:grid;
    grid-template-columns: repeat(7, 22px);
}

.pixel{
    height: 30px;
    width: 20px;
    background-color: Darkgray;
    color: red;
    margin: 1px;
    font-size: 36px;
    font-weight: bold;
    padding-bottom: 5px;
}
