<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Robots</title>
    <style>
        table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
            font-size: large;
            padding: 5px;
            margin: 30px;
        }

        th {
            background-color: lightgray;
        }
    </style>
</head>
<body>
{% if logged_user %}
    <div style="margin-right: 10px;">
        <p><span style="font-weight: bold">{{ logged_user[0] }}</span> logged as {{ logged_user[1] }}</p>
    </div>
{% endif %}
<div>
    <table>
        <caption>{{ caption }}</caption>
        <tbody>
        <tr>
            <th>id</th>
            <th>name</th>
            <th>street</th>
            <th>city</th>
            <th>zipcode</th>
            <th>status</th>
        </tr>
        {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.name }}</td>
                <td>{{ user.street }}</td>
                <td>{{ user.city }}</td>
                <td>{{ user.zipcode }}</td>
                <td>{{ user.status }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% include 'footer.html' %}
</body>
</html>