/*animation instruction*/
@keyframes text {
    0%{
      transform: translate(100%, 0);
    }
/*     
    50%{
      transform: translate(-160%, 0);
    }
     */
    100%{
      transform: translate(-100%, 0);
    }
  }
  
:root{
    --header-color-1: rgb(11, 11, 100);
}

body{
    background-color: whitesmoke;
    /* margin: 0; */
    /* padding: 0; */
}

header{
    position: relative;
}

main>header{
    position: absolute;
    overflow: hidden;
}

.breaking-news{
    text-transform: uppercase;
    padding-top: 35px;
    animation: text 7.5s infinite linear;
    padding-left: 100%;
    white-space: nowrap;  
}