{% extends "base.html" %}
{% include "navbar.html" %}

{% block content %}
<div class="column is-4 is-offset-4">
    <h3 class="title">Login</h3>
    <div class="box">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="notification is-danger text-danger m-2">
                {{ messages[0] }}
            </div>
        {% endif %}
        {% endwith %}
        <form method="POST" action="/login">
            <div class="field">
                <div class="control">
                    <input class="input is-large form-control w-25 p-2 m-3" type="email" name="email" placeholder="Your Email" autofocus="">
                </div>
            </div>

            <div class="field">
                <div class="control">
                    <input class="input is-large form-control w-25 p-2 m-3" type="password" name="password" placeholder="Your Password">
                </div>
            </div>
            <div class="field">
                <label class="checkbox">
                    <input type="checkbox" name="remember" class="mx-3">Remember me</label>
            </div>
            <button class="button btn btn-success m-3 is-block is-info is-large is-fullwidth">Login</button>
        </form>
    </div>
</div>
{% endblock %}