body {
    background-image: url("background.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    margin: 0;
    padding: 0;
    position: relative;
}

.search-block, .person-info {
    background-color: rgba(106, 71, 46, 0.51);
    width: 500px;
    height: 400px;
    margin-left: 30px;
    margin-top: 100px;
    border-radius: 10px;
    padding: 20px;
}

.search-type-block, .fields{
    display: flex;
    justify-content: center;
    width: 100%;
}

.search-type-tab {
    width: 100%;
    background-color: rgba(106, 71, 46, 0.98);
    height: 33px;
    border-radius: 3px;
    margin: 3px;
    padding-top: 10px;
    color: white;
    text-decoration: none;
    font-size: large;
    text-align: center;
    border: 1px solid rgba(106, 71, 46, 0.98);
}

.search-type-tab > label {
    padding: 10px 58px;
    margin-top: 5px;
}

.search-type-tab > input {
    display: none;
}

.active {
    background-color: rgba(53, 35, 23, 0.98);
    border: 1px solid black;
}
.disable{
    opacity: 0.7;
}
.fields>input{
    width: 100%;
    height: 20px;
    border-radius: 3px;
    margin: 2px;
}
#submit, a{
        width: 100%;
    height: 34px;
    border-radius: 3px;
    margin: 2px;
    color: white;
    background-color: rgba(106, 71, 46, 0.98);
    font-size: large;
    padding: 2px;
}
a{
    margin-bottom: 5px;
    text-decoration: none;
    padding: 5px 20px;
}