{% extends "base.html" %}

{% block content %}
<div class="column is-4 is-offset-4">
    <h1 class="m-2">Login</h1>
    <div class="box">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="notification is-danger">
                {{ messages[0] }}
            </div>
        {% endif %}
        {% endwith %}
        <form method="POST" action="/login" class="w-25 m-2">
            <div class="field">
                <div class="control">
                    <input class="form-control m-1" type="email" name="email" placeholder="Your Email" autofocus="">
                </div>
            </div>

            <div class="field">
                <div class="control">
                    <input class="form-control m-1" type="password" name="password" placeholder="Your Password">
                </div>
            </div>
            <div class="field">
                <label class="form-check-label m-1 ">
                    <input type="checkbox" name="remember" class="form-check-input">
                    Remember me
                </label>
            </div>
            <button class="btn btn-success m-1">Login</button>
        </form>
    </div>
</div>
{% endblock %}