<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
<form action="/" method="post" novalidate>
    {{ form.csrf_token() }}
    <div>
        {% for field in form if field.name not in ("csrf_token", "submit") %}
        <p>{{ field.label() }}</p>
        <p>{{ field }}</p>
        <p>
            {% for error in field.errors %}
        <p class="error">{{ error }}</p>
        {% endfor %}
        </p>
        {% endfor %}
        <p>{{ form.submit(class_="button") }}</p>
    </div>
    <div>
        {% if person|length > 0 %}
        {{ person }}
        {% endif %}
    </div>
</form>


</body>
</html>