body {
    margin: 0;
    padding: 0;
    position: relative;
}
.background{
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;

    opacity: 0.1;
    position: fixed;
    z-index: -1;
}